.bg-primary,.heading{
    background-color: #e3f2fd !important;
    padding: 12px;
}
h1{
    font-size: 60px;
}
h2{
    color: #000;
}
.file{
    margin-top: 200px;

}
button {
    padding: 8px;
    font-size: 18px;
}
.nav-pills .nav-link {
    color: #000;
}
.nav-pills .nav-link:hover, .nav-link-wrap a:hover{
    color: #fff;
}
.align-items-center, .col-md-2{
    background: #D8BFD8;
}
.form{
    margin-top: 30px;
}
.col-xl-10 {
    padding-top: 15px;
}
.d-title{
    border-top: 2px solid #2f6664;
    border-bottom: 1px solid #b2b2b2;
    margin-top: 15px;
}
.details-header a{
    font-size: 22px;
    text-decoration: none;
    color: #000;
    margin: 5px;
}
.left-details{
    margin-top: 15px;
    margin-bottom: 15px;
}
.left-details img {
    padding-bottom: 8px;
}
.menu-bar a,.update-menu a {
    text-decoration: none;
    color: #000;
    padding: 8px;
    font-size: 18px;
    margin-right: 16px;
}
.update-menu {
    margin-top: 25px;
}
.menu-bar a:hover, .update-menu a:hover{
    color: #faa61a;
}
.title h2 {
    margin-left: 10px;
    font-size: 35px;
}
.header-menu {
    padding: 10px;
}
.details-header {
    font-size: 20px;
    margin: 5px;
}
.delete button{
    margin-left: 505px;
}
.delete .input {
    margin-top: 15px;
}
.footer{
    background: #e3f2fd;
}
.lower{
    padding: 15px;
    color: #aaa;
}
.details .title {
    font-size: 27px;
    font-weight: bold;
    margin-top: 10px;
}
.details p{
    font-size: 18px;
    margin: 10px 0 20px;
    line-height: 1.85;
}
.publish {
    font-size: 14px;
    margin-bottom: 14px;
    margin-top: 10px;
}
.details {
    padding: 10px;
}
.details a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    line-height: 1.85;
}
.breadcrumb-item.active {
    color: #000;
    font-size: 22px;
    font-weight: bold;
}