.menu-bar{
    padding-top: 50px;
    background: #C0C0C0;
    padding-bottom: 405px;
    text-align: center;
}
.header {
    padding-top: 175px;
}
.menu-bar a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.heading{
    background-color: #0000FF;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.insert-menu .menu-bar{
    /* margin-top: 0px; */
    padding-bottom: 440px;
}
.input-field{
    margin-top: 15px;
    font-size: 17px;
}

h2{
    font-size: 35px;
}
.input{
    margin-bottom: 20px;
}